package router

import (
	"github.com/gin-gonic/gin"

	"github.com/GMISWE/app/api/restful"
	"github.com/GMISWE/app/internal/service"
)

//new{{.Capital}}Router  {{.Lower}} router
func new{{.Capital}}Router({{.Module}}Engine *gin.RouterGroup, services *service.Services) {
	c := restful.New{{.Capital}}(services)

	group := {{.Module}}Engine.Group("/{{.Snake}}")
	group.POST("", c.Create{{.Capital}})
	group.PUT("/:id", c.Update{{.Capital}})
	group.DELETE("/:id", c.Delete{{.Capital}})
	group.GET("/:id", c.Get{{.Capital}})
	group.GET("",c.List{{.Capital}})

}
