package {{.Lower}}

import (
	"context"

	"github.com/GMISWE/app/pkg/misc/tailormade/resp"
)



type Get{{.Capital}}Req struct{

}

type Get{{.Capital}}Resp struct{

}

func ({{.Lower}}Service *{{.Lower}}Service) Get{{.Capital}}(ctx context.Context, req *Get{{.Capital}}Req) (*Get{{.Capital}}Resp, *resp.Error) {
      // logic...
     return nil ,nil
}